{% extends "clusters/base_maps.html" %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'clusters/css/map.css' %}">
{% endblock %}

{% block content %}
Showing:<p id="showing"></p>
<div id="legend">
  <div id="census-min">min</div>
  <div class="color-key"><span id="data-caret">&#x25c6;</span></div>
  <div id="census-max">max</div>
</div>
<div id="data-box" class="nicebox">
  <label id="data-label" for="data-value"></label>
  <span id="data-value"></span>
</div>
  <div id="map" class='left'></div>
{% endblock %}

{% block scripts %}
  <script>var cluster_id = "3";</script>
  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDbcM5AOjEOn5tp18yfzV2jep_1gCdtmgo&callback=initialize"></script>
  <script src='{% static "clusters/map.js" %}'></script>
  <script src='{% static "clusters/map2.js" %}'></script>



{% endblock %}
