{% extends "clusters/base.html" %}

{% block content %}

<h1>{{ cluster.name }}</h1>
<ul>
  <li>Q43 : {{ questions_strs.0 }} <span class="badge">{{ cluster.factor1 }}</span></li>
  <li>Q45 : {{ questions_strs.1 }} <span class="badge">{{ cluster.factor2 }}</span></li>
  <li>Q46 : {{ questions_strs.2 }} <span class="badge">{{ cluster.factor3 }}</span></li>
  <li>Q47 : {{ questions_strs.3 }} <span class="badge">{{ cluster.factor4 }}</span></li>
  <li>Q35 : {{ questions_strs.4 }} <span class="badge">{{ cluster.factor5 }}</span></li>
</ul>

<div class="panel panel-default">
  <div class="panel-body">
    Number of rows: {{ df_size }}
  </div>
</div>

{% if df_size == 0 %}
  There are no rows for this cluster
{% else %}
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
  </script>
  {% for chart in charts %}
    {{ chart.as_html }}
  {% endfor %}
{% endif %}



{% endblock %}
