{% extends "clusters/base.html" %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'clusters/css/map.css' %}">
{% endblock %}

{% block content %}

<h1>{{ cluster.name }}</h1>

<h3>Group factors</h3>
<ul>
  <li>Q43 : {{ questions_strs.0 }} <span class="badge">{{ cluster.factor1 }}</span></li>
  <li>Q45 : {{ questions_strs.1 }} <span class="badge">{{ cluster.factor2 }}</span></li>
  <li>Q46 : {{ questions_strs.2 }} <span class="badge">{{ cluster.factor3 }}</span></li>
  <li>Q47 : {{ questions_strs.3 }} <span class="badge">{{ cluster.factor4 }}</span></li>
  <li>Q35 : {{ questions_strs.4 }} <span class="badge">{{ cluster.factor5 }}</span></li>
</ul>

<div class="panel panel-default">
  <div class="panel-body">
    Number of rows: {{ df_size }}
    <br>
    Source: {{ about }}
  </div>
</div>

{% block button %}
<a class="btn btn-primary" href="{% url 'clusters:compare' cluster.id %}" role="button">Compare</a>
{% endblock %}



{% if df_size == 0 %}
  There are no rows for this cluster
{% else %}
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
  </script>
  {% for chart in charts %}
    {{ chart.as_html }}
  {% endfor %}
{% endif %}
{% endblock %}

{% block map %}
Showing:<div id="showing"></div>
<div id="legend">
  <div id="census-min">min</div>
  <div class="color-key"><span id="data-caret">&#x25c6;</span></div>
  <div id="census-max">max</div>
</div>
<div id="data-box" class="nicebox">
  <label id="data-label" for="data-value"></label>
  <span id="data-value"></span>
</div>
<div id="map"></div>
{% endblock %}

{% block scripts %}
<script>cluster_id = "{{ cluster.id }}"</script>
<script src='{% static "clusters/map.js" %}'></script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDbcM5AOjEOn5tp18yfzV2jep_1gCdtmgo&callback=initMap"></script>
{% endblock %}
