{% extends "clusters/base.html" %}
{% load clusters_extras %}

{% block content %}

<h1>{{ cluster.name }} Stats</h1>
<a class="btn btn-primary" href="{% url 'clusters:detail' cluster.id %}" role="button">See this group</a>
<a class="btn btn-primary" href="{% url 'clusters:compare' cluster.id %}" role="button">Compare clusters</a>
<a class="btn btn-primary" href="{% url 'clusters:stats' cluster.id %}" role="button">Stats</a>
{% for population in subcluster_values %}
  <a class="btn btn-primary" href="{% url 'clusters:subcluster_detail' cluster.id forloop.counter0 %}">Cluster {{ forloop.counter0 }}</a>
{% endfor %}
<a class="btn btn-primary" data-toggle="modal" data-target="#aboutModal">About group</a>
<span id="about-icon" class="glyphicon glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="modal" data-target="#instructions"></span>

<br>
<br>
<div class="panel panel-default">
  <div class="panel-body">
    <a class="btn" href="{% url 'clusters:increase' cluster.id %}" data-toggle="tooltip" data-placement="top" title="Click to increment number of clusters"><span class="glyphicon glyphicon-arrow-up"></span></a>
    {{ num_of_clusters }} clusters
    <a class="btn" href="{% url 'clusters:decrease' cluster.id %}" data-toggle="tooltip" data-placement="top" title="Click to decrement number of clusters"><span class="glyphicon glyphicon-arrow-down"></span></a>
    <br>
    <br>
    Total group population: {{ total_group_pop }} / {{ total_pop }}  ({% percent total_group_pop total_pop %}%)
    <ul>
    {% for population in subcluster_values %}
      <li><a href="{% url 'clusters:subcluster_detail' cluster.id forloop.counter0 %}">Cluster {{ forloop.counter0 }}</a> [{{ population }}/{{ total_group_pop }}] ({% percent population total_group_pop %}%)</li>
    {% endfor %}
    </ul>
  </div>
</div>



<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
    google.load("visualization", "1", {packages:["corechart"]});
</script>

<div class="table-responsive">

  <table class="table table-hover">
    <thead>
      <tr>
        {% for cell in table_header %}
        <td>{{cell}}</td>
        {% endfor %}
      </tr>
    </thead>
      {% for row in rows %}
      <tr>
        {% for cell in row %}
        <td>{{cell}}</td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}

{% block scripts %}
<!-- Modal -->
<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">About this group</h4>
      </div>
      <div class="modal-body">
        <h4>Group factors</h4>
        <ul>
          <li>Q43 : {{ questions_strs.0 }} <span class="badge">{% choice_as_str 1 cluster.factor1 %}</span></li>
          <li>Q45 : {{ questions_strs.1 }} <span class="badge">{% choice_as_str 2 cluster.factor2 %}</span></li>
          <li>Q46 : {{ questions_strs.2 }} <span class="badge">{% choice_as_str 3 cluster.factor3 %}</span></li>
          <li>Q47 : {{ questions_strs.3 }} <span class="badge">{% choice_as_str 4 cluster.factor4 %}</span></li>
          <li>Q35 : {{ questions_strs.4 }} <span class="badge">{% choice_as_str 5 cluster.factor5 %}</span></li>
        </ul>

        <div class="panel panel-default">
          <div class="panel-body">
            <p>Number of rows: {{ group_size }}/{{ total_group_pop }}  ({% percent group_size total_group_pop %}%)</p>
            <p>Source: {{ about }}</p>
            <p>Number of clusters: {{ num_of_clusters }}</p>
            <ul>
            {% for population in subcluster_values %}
              <li><a href="{% url 'clusters:subcluster_detail' cluster.id forloop.counter0 %}">Cluster {{ forloop.counter0 }}</a> [{{ population }}]</li>
            {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});
</script>
{% endblock %}
