{% extends "clusters/base.html" %}
{% load clusters_extras %}

{% block content %}

<h1>{{ cluster.name }} Stats</h1>
<a class="btn btn-primary" href="{% url 'clusters:detail' cluster.id %}" role="button">See this group</a>
<a class="btn btn-primary" href="{% url 'clusters:compare' cluster.id %}" role="button">Compare clusters</a>
<a class="btn btn-primary" id="all-button" href="#" role="button">See all on map</a>
<a class="btn btn-primary" href="{% url 'clusters:stats' cluster.id %}" role="button">Stats</a>
{% for population in subcluster_values %}
  <a class="btn btn-primary" href="{% url 'clusters:subcluster_detail' cluster.id forloop.counter0 %}">Subcluster {{ forloop.counter0 }}</a>
{% endfor %}
<span id="about-icon" class="glyphicon glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="modal" data-target="#myModal"></span>

<br>
<br>
<div class="panel panel-default">
  <div class="panel-body">
    <a class="btn" href="{% url 'clusters:increase' cluster.id %}" data-toggle="tooltip" data-placement="top" title="Click to increment number of clusters"><span class="glyphicon glyphicon-arrow-up"></span></a>
    {{ num_of_clusters }} clusters
    <a class="btn" href="{% url 'clusters:decrease' cluster.id %}" data-toggle="tooltip" data-placement="top" title="Click to decrement number of clusters"><span class="glyphicon glyphicon-arrow-down"></span></a>
    <br>
    <br>
    Total group population: {{ total_group_pop }} / {{ total_pop }}  ({% percent total_group_pop total_pop %}%)
    <ul>
    {% for population in subcluster_values %}
      <li><a href="{% url 'clusters:subcluster_detail' cluster.id forloop.counter0 %}">Subcluster {{ forloop.counter0 }}</a> [{{ population }}/{{ total_group_pop }}] ({% percent population total_group_pop %}%)</li>
    {% endfor %}
    </ul>
  </div>
</div>



<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
    google.load("visualization", "1", {packages:["corechart"]});
</script>

<div class="container">
  <!-- putting 2 divs next to each other from: http://jsfiddle.net/dimitrios_87/b9hXU/ -->
  <div style="display: inline-block;width:402px;">
  {{ elbow_chart.as_html }}
  </div>
  <div style="display: inline-block;width:402px;vertical-align:top;">
  {{ scatter_chart.as_html }}
  </div>
</div>
{% endblock %}

{% block scripts %}
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">About this group</h4>
      </div>
      <div class="modal-body">
        <h4>Group factors</h4>
        <ul>
          <li>Q43 : {{ questions_strs.0 }} <span class="badge">{{ cluster.factor1 }}</span></li>
          <li>Q45 : {{ questions_strs.1 }} <span class="badge">{{ cluster.factor2 }}</span></li>
          <li>Q46 : {{ questions_strs.2 }} <span class="badge">{{ cluster.factor3 }}</span></li>
          <li>Q47 : {{ questions_strs.3 }} <span class="badge">{{ cluster.factor4 }}</span></li>
          <li>Q35 : {{ questions_strs.4 }} <span class="badge">{{ cluster.factor5 }}</span></li>
        </ul>

        <div class="panel panel-default">
          <div class="panel-body">
            <p>Number of rows: {{ df_size }}</p>
            <p>Source: {{ about }}</p>
            <p>Number of clusters: {{ num_of_clusters }}</p>
            <ul>
            {% for population in subcluster_values %}
              <li><a href="{% url 'clusters:subcluster_detail' cluster.id forloop.counter0 %}">Subcluster {{ forloop.counter0 }}</a> [{{ population }}]</li>
            {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});
</script>
{% endblock %}
