{% load static %}

<html>
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'clusters/css/map.css' %}">
  <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.1.1.min.js"></script>

  <style>
    /* Always set the map height explicitly to define the size of the div
     * element that contains the map. */
    #map {
      height: 50%;
      width: 100%;
    }
  </style>
</head>
<body>
  <!-- Identify where the chart should be drawn. -->
  <h1 id="Q11">Q11</h1>
  <div id="GIwoVrxfEw" style="width: 100%; height: 50%;"></div>
  <div id="Ward" style="width: 100%; height: 25%;"></div>
  <div id="legend">
    <div id="census-min">min</div>
    <div class="color-key"><span id="data-caret">&#x25c6;</span></div>
    <div id="census-max">max</div>
  </div>
  <div id="data-box" class="nicebox">
    <label id="data-label" for="data-value"></label>
    <span id="data-value"></span>
  </div>
  <div id="map"></div>
  <script>var oa_url = '{% static "clusters/soas.json" %}'</script>
  <script src='{% static "clusters/maptest.js" %}'></script>

  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDbcM5AOjEOn5tp18yfzV2jep_1gCdtmgo&callback=initMap">
  </script>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
  </script>
  <script type="text/javascript">
  google.setOnLoadCallback(drawChartGIwoVrxfEw);
  function drawChartGIwoVrxfEw() {

      /*var data = google.visualization.arrayToDataTable([
        ["WARD","Bishops","Brixton Hill","Clapham Common","Clapham Town","Coldhabour","Ferndale","Gipsy Hill","Herne Hill","Knights Hill","Larkhall","Oval","Prince\u2019s","St Leonards","Stockwell","Streatham Hill","Streatham South","Streatham Wells","Thornton","Thurlow Park","Tulse Hill","Vassall"],
        ["Value",4,3,3,7,13,7,13,6,5,4,11,9,9,7,3,7,11,5,7,3,7]]
      );*/

      var data = google.visualization.arrayToDataTable([
        ["WARD", "Coldhabour", "Oval", "Larkhall", "Ferndale", "Clapham Town", "Tulse Hill", "Brixton Hill", "Prince\u2019s", "Streatham Wells", "Herne Hill", "St Leonards", "Knights Hill", "Streatham Hill", "Gipsy Hill", "Streatham South", "Stockwell", "Thurlow Park", "Vassall", "Clapham Common", "Thornton", "Bishops"],
        ["Value", 62, 57, 56, 55, 53, 52, 51, 51, 50, 50, 49, 49, 49, 48, 48, 48, 47, 47, 46, 41, 33],
        ["position", 5, 11, 10, 6, 4, 20, 2, 12, 17, 8, 13, 9, 15, 7, 16, 14, 19, 21, 3, 18, 1]],
        false
      );

      var view = new google.visualization.DataView(data);
      view.hideRows(1,1);


      var options = {"isStacked": "percent", "title": "(Q11) Which of these statements most applies to you?", "height": 100, "width": 1100, "vAxis": {"title": "Question"}, "legend": {"position": "bottom", "maxLines": "3"}}

  var chart = new google.visualization.BarChart(document.getElementById('GIwoVrxfEw'));

    chart.draw(view, options);
    chartGIwoVrxfEw = chart;

    google.visualization.events.addListener(chart, 'select', function() {
      var selectedItem = chart.getSelection()[0];
      if (selectedItem) {
        var value = data.getValue(selectedItem.row, selectedItem.column);
        var question = data.getValue(0, 0);
        alert('The user selected ' + selectedItem.column + " question " + question);

        loadCensusData("/clusters/json2/1/Q11/"+selectedItem.column);
      }
    });
  }
  $('#Q11').click(function() {
    loadCensusData("/clusters/json3/1/Q11");
  });

  google.setOnLoadCallback(drawChartWard);
  function drawChartWard() {

    var json = (function () {
        var json = null;
        $.ajax({
            'async': false,
            'global': false,
            'url': "json4/3/Q11/2",
            'dataType': "json",
            'success': function (data) {
                json = data;
                console.log(json);
            }
        });
        return json;
    })();

    var data = google.visualization.arrayToDataTable(json);
    data.sort({column: 1, desc: false});

    var options = {"title": "WArd"}

  var chart = new google.visualization.ColumnChart(document.getElementById('Ward'));

    chart.draw(data, options);
    chartGIwoVrxfEw = chart;

    google.visualization.events.addListener(chart, 'select', function() {
      var selectedItem = chart.getSelection()[0];
      if (selectedItem) {
        //var value = data.getValue(selectedItem.row, selectedItem.column);
        //var question = data.getValue(0, 0);
        //alert('The user selected ' + selectedItem.column + " question " + question);

        //loadCensusData("/clusters/json2/1/Q11/"+selectedItem.column);
      }
    });
  }
</script>
</body>
<html>
