{% load static %}

<html>
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'clusters/css/map.css' %}">
  <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.1.1.min.js"></script>

  <style>
    /* Always set the map height explicitly to define the size of the div
     * element that contains the map. */
    #map {
      height: 50%;
      width: 100%;
    }
  </style>
</head>
<body>
  <!-- Identify where the chart should be drawn. -->
  <h1 id="Q11">Q11</h1>
  <div id="GIwoVrxfEw" style="width: 100%; height: 50%;"></div>
  <div id="legend">
    <div id="census-min">min</div>
    <div class="color-key"><span id="data-caret">&#x25c6;</span></div>
    <div id="census-max">max</div>
  </div>
  <div id="data-box" class="nicebox">
    <label id="data-label" for="data-value"></label>
    <span id="data-value"></span>
  </div>
  <div id="map"></div>
  <script>cluster_id = "1"</script>
  <script src='{% static "clusters/map.js" %}'></script>

  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDbcM5AOjEOn5tp18yfzV2jep_1gCdtmgo&callback=initMap">
  </script>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
  </script>
  <script type="text/javascript">
  google.setOnLoadCallback(drawChartGIwoVrxfEw);
  function drawChartGIwoVrxfEw() {

      var data = google.visualization.arrayToDataTable([["Question", "I don\u2019t really see any changes", "The changes I see in my local area benefit me and my family", "The changes I see in my local area make things more difficult for me and my family", "The changes I see in my local area don\u2019t affect me and my family"], ["Q11", 29, 18, 10, 6]]);

      var options = {"isStacked": "percent", "title": "(Q11) Which of these statements most applies to you?", "height": 100, "width": 1100, "vAxis": {"title": "Question"}, "legend": {"position": "bottom", "maxLines": "3"}}

  var chart = new google.visualization.BarChart(document.getElementById('GIwoVrxfEw'));

    chart.draw(data, options);
    chartGIwoVrxfEw = chart;

    google.visualization.events.addListener(chart, 'select', function() {
      var selectedItem = chart.getSelection()[0];
      if (selectedItem) {
        var value = data.getValue(selectedItem.row, selectedItem.column);
        var question = data.getValue(0, 0);
        alert('The user selected ' + selectedItem.column + " question " + question);

        loadCensusData("/clusters/json2/1/Q11/"+selectedItem.column);
      }
    });
  }
  $('#Q11').click(function() {
    loadCensusData("/clusters/json3/1/Q11");
  });
</script>
</body>
<html>
