{% load clusters_extras %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!--<link rel="stylesheet" href="style.css" />-->
    <title>{% block title %}FYP{% endblock %}</title>

    <!-- Latest compiled and minified CSS -->
    {% block stylesheets %}{% endblock %}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <style>
    /*from http://stackoverflow.com/questions/22752637/how-to-implement-responsive-independently-scrolling-panes-in-bootstrap-3*/
    @media (min-width: 768px){
      #left {
        position: fixed;
        top: 50px;
        bottom: 0;
        left: 0;
        width: 40%;
      }

      .right {
        position: fixed;
        top: 50px;
        bottom: 0;
        right: 0;
        width: 60%;
      }

      #scrollable {
        top: 150px;
        overflow-y: scroll;
      }
    }
    </style>

</head>

<body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">FYP</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/">Clusters list <span class="sr-only">(current)</span></a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Clusters <span class="caret"></span></a>
              <ul class="dropdown-menu">
                {% cluster_list %}
              </ul>
            </li>
            <li><a href="{% url 'clusters:survey' %}">Survey</a></li>
            <li><a href="{% url 'clusters:new' %}">New cluster</a></li>
            <li><a href="/admin">Admin</a></li>
          </ul>
          <span id="remove-button" class="navbar-right glyphicon glyphicon glyphicon-remove" aria-hidden="true"></span>
        </div>
      </div>
    </nav>
    <div>
      <div id="left" style="padding:10px;">
      {% block map %}{% endblock %}
      </div>

      <div class="right" style="padding:10px;">
        {% block group_name %}{% endblock %}
        <span id="about-icon" class="glyphicon glyphicon glyphicon-info-sign" aria-hidden="true"></span>
        <div class="right" id="scrollable" style="padding:10px;">
          <div id="about-group">
            {% block about %}{% endblock %}
          </div>
        {% block content %}{% endblock %}
        </div>
      </div>
    </div>


    <!-- Latest compiled and minified JavaScript -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    {% block scripts %}
    {% endblock %}
    <script>
    (function ($) {
      $(document).ready(function(){
      // fade out .navbar when #remove-button is clicked
    	$(function () {
    		$("#remove-button").click(function () {
            $('.navbar').fadeOut();
            $("#left").css({ top: '0px' });
            $(".right").css({ top: '0px' });
            $("#scrollable").css({ top: '100px' });
    		});
    	});

      //init state: of #about-group
      $('#about-group').hide();

      // fade in/out #about-group when # is clicked
    	$(function () {
    		$("#about-icon").click(function () {
            $('#about-group').toggle();
    		});
    	});
    });
    }(jQuery));
    </script>
</body>
</html>
