{% extends "graphosjat/gchart/base.html" %}

{% block create_chart %}
  //hides real question choice index
  var hiddencolumn = view.getNumberOfColumns()-1;
  view.hideColumns([2, hiddencolumn]);//hide question letter column and subcluster_id column
  data.sort({column: 1, desc: true});//sort original data
  view.setRows(view.getSortedRows({column:1, desc:true}));//sorts rows in desc value


  var chart = new google.visualization.BarChart(document.getElementById('{{ chart.get_html_id }}'));

  google.visualization.events.addListener(chart, 'select', function() {
    var selectedItem = chart.getSelection()[0];
    if (selectedItem) {
      var value = data.getColumnLabel(selectedItem.column);
      var choice = data.getValue(1, selectedItem.column);

      var question_letter = data.getValue(selectedItem.row, 2);

      var id = data.getValue(selectedItem.row, hiddencolumn).split('/');//'cluster_id/subcluster_id'
      var cluster_id = id[0];
      var subcluster_id = id[1];


      var question = options['title'].match(/\w+/i)[0] + question_letter;
      var question_str = question + " - " + data.getValue(selectedItem.row, 0);


      console.log("/clusters/json2/"+cluster_id+"/"+subcluster_id+"/"+ question + "/1");

      loadCensusData("/clusters/json2/"+cluster_id+"/"+subcluster_id+"/"+question + "/1", question_str, value);
      redrawWardChart(cluster_id, subcluster_id, question, 1);


    }
  });
{% endblock %}
