{% extends "graphosjat/gchart/base.html" %}

{% block create_chart %}
  var chart = new google.visualization.ColumnChart(document.getElementById('{{ chart.get_html_id }}'));

  google.visualization.events.addListener(chart, 'select', function() {
    var selectedItem = chart.getSelection()[0];
    if (selectedItem) {
      var value = selectedItem.column;

      var question = options['title'].match(/\w+/i)[0] + "_R" + (selectedItem.row+1);

      loadCensusData("/clusters/json2/"+cluster_id+"/"+ question + "/" + value, question, value);
      redrawWardChart(cluster_id, question, value);

    }
  });
{% endblock %}
