{% extends "graphosjat/gchart/base.html" %}

{% block create_chart %}
  var hiddencolumn = view.getNumberOfColumns()-1;
  view.hideColumns([hiddencolumn]);//hide subcluster_id column

  var chart = new google.visualization.ColumnChart(document.getElementById('{{ chart.get_html_id }}'));

  google.visualization.events.addListener(chart, 'select', function() {
    var selectedItem = chart.getSelection()[0];
    if (selectedItem) {
      var value = selectedItem.column;
      var choice_str = data.getColumnLabel(selectedItem.column);

      var question = options['title'].match(/\w+/i)[0] + "_R" + (selectedItem.row+1);
      var question_str = options['title'];

      var id = data.getValue(selectedItem.row, hiddencolumn).split('/');//'cluster_id/subcluster_id'
      var cluster_id = id[0];
      var subcluster_id = id[1];

      loadCensusData("/clusters/json2/"+cluster_id+"/"+subcluster_id+"/"+ question + "/" + value, question_str, choice_str);
      redrawWardChart(cluster_id, subcluster_id, question, value);

    }
  });
{% endblock %}
