 {% extends "graphosjat/gchart/base.html" %}

{% block create_chart %}
  var hiddencolumn = view.getNumberOfColumns()-1;
  view.hideColumns([hiddencolumn]);//hide subcluster_id column


  var chart = new google.visualization.PieChart(document.getElementById('{{ chart.get_html_id }}'));

  google.visualization.events.addListener(chart, 'select', function() {
    var selectedItem = chart.getSelection()[0];
    if (selectedItem) {
      var choice = data.getValue(selectedItem.row, 2);
      var question = options['title'].match(/\w+/i)[0];

      var id = data.getValue(selectedItem.row, hiddencolumn).split('/');//'cluster_id/subcluster_id'
      var cluster_id = id[0];
      var subcluster_id = id[1];

      var url = "/clusters/json2/"+cluster_id+"/"+subcluster_id+"/"+ question +"/"+choice;

      loadCensusData(url, question, choice);
      redrawWardChart(cluster_id, subcluster_id, question, choice);

    }
  });
{% endblock %}
