{% extends "graphosjat/gchart/base.html" %}

{% block create_chart %}
  var chart = new google.visualization.BarChart(document.getElementById('{{ chart.get_html_id }}'));

  google.visualization.events.addListener(chart, 'select', function() {
    var selectedItem = chart.getSelection()[0];
    if (selectedItem) {
      var value = data.getColumnLabel(selectedItem.column);
      var question = options['title'].match(/\w+/i)[0];

      loadCensusData("/clusters/json2/"+cluster_id+"/"+ question +"/"+selectedItem.column, question, selectedItem.column);

    }
  });
{% endblock %}
